<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Bakery</title>
  <link rel="stylesheet" href="/css/FormCrudStyle.css">
</head>
<body>
<header>
  <h1>Manage products</h1>
  <a href="/bakery_bread" id="goHome">Home</a>
</header>
<main>
  <section class="form-section">
    <h2>add/edit Product</h2>
    <form id="productForm">
      <input type="hidden" id="productId">
      <label for="productName">product Name:</label>
      <input type="text" id="productName" required>
      <label for="productPrice">Price:</label>
      <input type="number" id="productPrice" step="0.1" required>
      <label for="productWeight">weight:</label>
      <input type="number" id="productWeight" step="0.1" required>
      <label for="productTime">product Time:</label>
      <input type="number" id="productTime" required>
      <label for="flourId">Flour:</label>
      <select id="flourId" required></select>
      <button type="submit">save</button>
      <button type="button" id="cancelEdit">cancel</button>
    </form>
  </section>
  <section class="product-section">
    <h2>products</h2>
    <ul id="productList"></ul>
  </section>
</main>
<footer></footer>
<script src="/js/BreadScript.js"></script>
</body>
</html>
